/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,900;1,400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);

@font-face {
  font-family: Salome;
  src: url('../fonts/salome.otf') format('opentype');
}

@font-face {
  font-family: Viksi Script;
  src: url('../fonts/viksi-script.otf') format('opentype');
}
@font-face {
  font-family: SF Mono;
  src: url('../fonts/sf-mono-regular.otf') format('opentype');
}

/* General Styles */

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  text-align: left;
  color: #2b2b2b;
  margin: 0px;
  padding: 0px;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #c44536;
  text-decoration: none;
}

.content-wrapper{
  width: 90%;
  margin: 50px 0;
}

/* Header */

header {
  padding: 15px 0;
  background-color: #edddd4;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
  width: 100%;
}

header h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  font-family: 'Salome';
  text-transform: uppercase;
  color: #c44536;
  margin: 10px;
}

.header-divider {
  background: #c44536;
  width: 90%;
  height: 2px;
  margin: 10px 0 20px 0;
}
  
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 90%;
  font-size: 1em;
  font-weight: 700;
  text-transform: lowercase;
  font-family: 'SF Mono';
}

nav a:hover {
  color: coral;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

header nav ul li {
  font-size: 1.125em;
}

/*--------Mobile Styles---------*/

/* Greeting */

.greeting {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background: url('../img/plants.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80%;
  text-align: center;
}

.greeting .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 84%;
}

.greeting h1 {
  color: #edddd4;
  font-family: 'Viksi Script';
  font-size: 6em;
  font-weight: 900;
}

.greeting h3 {
  font-family: 'SF Mono';
  font-style: italic;
  font-size: 1.5em;
  color: #edddd4;
  display: inline-block;
  text-align: left;
}

/* About */

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #edddd4;
}

#about .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 80%;
}

#about h2 {
  font-family: 'Salome';
  font-size: 2.75em;
  color: #197278;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.5em;
}

#about img {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1em auto;
  display: block;
  width: 80%;
  border: 1em solid #c44536;
  border-radius: 50%;
  padding: 0.5em;
}

#about h3 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color: gray;
  font-size: 1.4em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#about p {
  color: #772e25;
  font-size: 1em;
  line-height: 1.285em;
  text-align: left;
}

/* Skills */

#skills {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-color: #c44536;
}

#skills h3 {
  margin: 40px;
  color: #edddd4;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 2.05em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

#skills article {
  width: 50%;
  margin: 30px 0;
}

#skills .skills-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  color: white;
}

#skills p {
  text-align: center;
  margin: 0;
}

#skills i {
  font-size: 5em;
  margin-bottom: 40px;
}

#skills input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #edddd4;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.1253em;
  color: #c44536;
  border: none;
  text-align: center;
}

/* Aside */

aside {
  background-color: #edddd4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

aside .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 84%;
}

aside h3 {
  font-size: 1.7em;
  margin-bottom: 1em;
  text-align: center;
  color: #772e25;
}

aside p {
  color: #772e25;
  text-align: center;
}

aside input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #c44536;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.1253em;
  color: #edddd4;
  border: none;
  text-align: center;
  border-radius: 12px;
}

/* Portfolio */

#portfolio {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-color: #c44536;
}

#portfolio .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
  width: 84%;
}

#portfolio h2 {
  font-family: 'Salome';
  font-size: 2.75em;
  color: #edddd4;
  margin-top: 1.5em;
  text-align: center;
}

#portfolio .portfolio-content {
  margin: 20px 0;
}

#portfolio img {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1em auto;
  margin: 1em auto;
  width: 100%;
  border: 1em solid #edddd4;
  padding: 0.25em;
}

#portfolio h3 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 1.75em;
  color: #edddd4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 1em;
}

#portfolio h5 {
  font-family: 'Montserrat', sans-serif;
  color: #edddd4;
  font-weight: 900;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: left;
}

#portfolio p {
  font-family: 'Montserrat';
  color: #edddd4;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: left;
}

#portfolio a {
  font-family: 'SF Mono';
  color: #edddd4;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: left;
}

#portfolio a:hover {
  color: coral;
}

/* Contact */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #edddd4;
  flex-direction: column;
  text-align: center;
}

footer .content-wrapper {
  width: 84%;
  margin: 50px 0;
}

footer h3 {
  font-family: 'Salome';
  font-size: 2.75em;
  color: #c44536;
  font-weight: bolder;
  margin-top: 0.75em;
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

footer p strong {
  font-size: 2em;
}

footer a {
  color: white;
}

.connect p {
  margin: 0;
  color: #c44536;
  font-family: 'Playfair Display';
  font-style: italic;
}

.connect {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  align-self: flex-start;
}

footer .social-icons {
  width: 100%;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  color: #c44536;
}

footer .social-icons p {
  margin: 0 15px;
}

footer .social-icons p i {
  color: #c44536;
}

footer .design {
  margin: 20px 0;
  width: 100%;
  font-family: 'SF Mono', serif;
  color: #c44536;
  width: 84%;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* Tablet Styles here */

  /* About */

  #about {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  #about .content-wrapper {
    width: 90%;
  }

  #about img {
    border-radius: 50%;
  }

  #about article {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #about h2 {
    width: 85%;
  }

  #about article figure {
    width: 49%;
  }

  #about article div {
    width: 49%;
    margin-right: 1em;
  }

  #about h3 {
    width: 100%;
    margin: 0;
    font-size: 1.3em;
    text-align: left;
  }

  /* Skills */

  #skills article {
    flex-basis: 33%;
  }

  #skills input[type=button] {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1em auto;
    display: block;
    width: 50%;
    padding: 20px 0;
    margin-top: 20px;
    background-color: #edddd4;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.5em;
    color: #c44536;
    border: none;
  }

  /* Aside */
  
  aside h3 {
    font-size: 2.5em;
  }
  
  aside p {
    font-size: 1.5em;
  }
  
  aside input[type=button] {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1em auto;
    display: block;
    width: 50%;
    padding: 20px 0;
    margin-top: 20px;
    background-color: #c44536;
    font-family: 'Montserrat';
    font-size: 1.5em;
    color: #edddd4;
    border: none;
    text-align: center;
  }

/* Portfolio */

#portfolio .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
  width: 75%;
}

#portfolio h2 {
  font-family: 'Salome';
  font-size: 3em;
}

}

@media only screen and (min-width: 1200px) {
   /* Desktop Styles here */

    /* Header */

    .header-divider {
      background: #c44536;
      width: 100%;
      margin: 10px 0 20px 0;
    }


    /* About */

    #about {
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
    }
  
    #about article {
      display: flex;
      justify-content: space-between;
    }
  
    #about h2 {
      width: 85%;
    }
  
    #about article figure {
      width: 50%;
    }
  
    #about article div {
      width: 60%;
    }
  
    #about h3 {
      width: 100%;
      margin: 0;
      font-size: 1.5em;
      text-align: left;
    }

    #about p {
      font-size: 1.25em;
    }

  /* Skills */
  #skills h3 {
    width: 90%;
  }

  #skills article {
    width: 25%;
  }

  /* Portfolio */

  #portfolio .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
    width: 75%;
  }

}

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

